img {
  max-width: 100px;
  height: auto;
  margin: 0 40px;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.header .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav ul {
  /* margin: 1em 0 0.5em; */
  text-align: center;
}
.nav li {
  display: inline;
  padding: 0.5em 0.5em;
}
.nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 18px;

  color: black;
}

.nav li:hover:nth-child(1) {
  background-color: #23a6d5;
  border-radius: 10px;
}

.nav li:hover:nth-child(2) {
  background-color: #23d5ab;
  border-radius: 10px;
}

.nav li:hover:nth-child(3) {
  background-color: #ee7752;
  border-radius: 10px;
}

.nav li:active {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}
