nav {
  flex: 1;
  margin: 0 10px;
  /* border: 1px solid black; */
  /* background-color: aqua; */
}

main {
  flex: 5;
}

.item {
  display: flex;
  text-align: left;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  margin-bottom: 20px;
}

.item:hover {
  box-shadow: rgba(25, 118, 210, 0.65) 0px 5px 15px;
  transform: scale(1.05);
}

.item-img {
  width: 200px;
  height: 250px;
}

.item-info {
  padding: 10px;
  margin-top: 20px;
}

.text {
  flex-basis: 100%;
  box-shadow: none;
}

.text:hover {
  box-shadow: none;
}

.category {
  /* border: 1px solid silver; */
  border-radius: 10px;
  max-width: 200px;
  padding: 5px;
  /* background: #d2d6d6; */
}

.categories {
  position: sticky;
  top: 10px;
}

.category:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.08);
  cursor: pointer;
}

.button {
  margin-left: 0;
}

button.button {
  margin-top: 5px;
  margin-left: 5px;
}
