.item {
  text-align: center;
}

.item-img {
  width: 200px;
  height: 250px;
}

.text {
  flex-basis: 100%;
  box-shadow: none;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
