.photo img {
  width: 150px;
  /* margin-left: 32px; */
  border: 2px solid black;
}
.back {
  position: sticky;
  top: 10px;
  margin-left: 6px;
  display: inline-block;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.photo {
  /* border: 2px solid black; */
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
}

.photo h3 {
  margin: 10px;
}

.photo p {
  font-style: italic;
  margin: 10px;
}
